In [1]:
#=========================
#GROUP MEMBERS: SUNNY MEI & MIGUEL DOMINGUEZ
# CSC 59970
# Data Science
# Prof. Etemadpour
# Date: 10/03/17
# Assigment #3
#=========================

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from matplotlib.colors import ListedColormap

In [41]:
#Get cars dataframe
cars = pd.read_csv('cars.csv',sep= ';') 
cars.head()
cars.shape

(407, 9)

In [42]:
cars.drop([0] , axis=0,inplace=True) #Drop row with data type names
#cars.drop(['Car'], axis=1,inplace=True)  # We can safely drop the 'Car' column
cars.head()
cars['Car'].value_counts()

Toyota Corolla                9
Ford Pinto                    6
Volkswagen Rabbit             5
AMC Matador                   5
Ford Maverick                 5
Chevrolet Chevette            4
Peugeot 504                   4
AMC Hornet                    4
AMC Gremlin                   4
Chevrolet Impala              4
Ford Gran Torino              3
Dodge Colt                    3
Chevrolet Caprice Classic     3
Chevrolet Nova                3
Chevrolet Citation            3
Plymouth Duster               3
Honda Civic                   3
Ford Galaxie 500              3
Chevrolet Vega                3
Pontiac Catalina              3
Volkswagen Dasher             3
Ford LTD                      2
Opel Manta                    2
Honda Civic CVCC              2
Mazda GLC Deluxe              2
Subaru DL                     2
Audi 100LS                    2
Plymouth Valiant              2
Fiat 128                      2
Ford Gran Torino (sw)         2
                             ..
Honda Civic (auto)            1
Datsun B-210                  1
Dodge Aries SE                1
Oldsmobile Delta 88 Royale    1
Mazda GLC 4                   1
Chevy C20                     1
Mercury Zephyr                1
Chevrolete Chevelle Malibu    1
AMC Hornet Sportabout (sw)    1
Mercury Marquis Brougham      1
Fiat 131                      1
Ford Torino (sw)              1
Saab 900s                     1
Buick Skylark Limited         1
Pontiac Safari (sw)           1
Dodge Omni                    1
Dodge Colt Hardtop            1
Ford Mustang Boss 302         1
Pontiac Firebird              1
Ford Torino                   1
Ford Grenada                  1
Dodge Charger 2.2             1
Chevrolet Vega 2300           1
Mercury Capri 2000            1
Volvo Diesel                  1
Plymouth Satellite (sw)       1
Oldsmobile Omega              1
Mercury Monarch               1
Ford Fairmont Futura          1
Plymouth Horizon TC3          1
Name: Car, Length: 308, dtype: int64

In [20]:
#There are 3 possible classes:
cars['Origin'].value_counts() 
#Origin is our class type

US        254
Japan      79
Europe     73
Name: Origin, dtype: int64

In [21]:
#Build a dictionary with the feature names.
feature_dict = {i:label for i,label in zip(range(4),
                  ('MPG','Cylinders','Displacement','HorsePower', 'Weight' ,'Acceleration','Model'))}

#Labels for

In [44]:
cars = pd.read_csv('auto-mpg.csv')
cars.head()
cars['car name'].value_counts()

ford pinto                      6
ford maverick                   5
toyota corolla                  5
amc matador                     5
toyota corona                   4
amc gremlin                     4
chevrolet chevette              4
chevrolet impala                4
amc hornet                      4
peugeot 504                     4
plymouth fury iii               3
chevrolet citation              3
honda civic                     3
volkswagen dasher               3
plymouth duster                 3
chevrolet caprice classic       3
dodge colt                      3
ford galaxie 500                3
ford gran torino                3
pontiac catalina                3
chevrolet vega                  3
chevrolet nova                  3
fiat 128                        2
chevrolet monte carlo landau    2
subaru                          2
chevrolet malibu                2
chevrolet chevelle malibu       2
honda accord                    2
ford country squire (sw)        2
plymouth valiant                2
                               ..
dodge magnum xe                 1
pontiac safari (sw)             1
honda civic (auto)              1
audi 100 ls                     1
ford ranger                     1
oldsmobile omega brougham       1
ford granada l                  1
amc ambassador sst              1
peugeot 304                     1
chevrolet bel air               1
ford fairmont                   1
audi 4000                       1
buick century 350               1
buick skyhawk                   1
datsun 200-sx                   1
plymouth arrow gs               1
mazda rx2 coupe                 1
audi 5000                       1
chevrolet vega 2300             1
renault 12 (sw)                 1
fiat x1.9                       1
triumph tr7 coupe               1
ford f108                       1
volkswagen scirocco             1
ford pinto (sw)                 1
volvo 245                       1
ford ltd landau                 1
mazda rx-7 gs                   1
ford futura                     1
pontiac j2000 se hatchback      1
Name: car name, Length: 305, dtype: int64

In [40]:
cars.head()

val = cars.iloc[0,0]
cars.shape

(398, 9)

In [35]:
type(val)

numpy.float64

In [36]:
val

18.0

In [37]:
type(5)

int